<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/layui.css">
    <link rel="stylesheet" href="../css/view.css"/>
    <title></title>
</head>
<body class="layui-view-body">
    <div class="layui-content">
        <div class="layui-row layui-col-space20">
            <div class="layui-col-sm12 layui-col-md12">
                <div class="layui-card">
                    <table style="width: 100%">
                        <tr style="height: 40px">
                            <th>总通话数</th>
                            <th>有效通话数</th>
                            <th>通话时长</th>
                            <th>平均通话时长</th>

                        </tr>
                        <tr style="text-align: center;height: 40px">
                            <td>123<label>不知道</label></td>
                            <td>123</td>
                            <td>123</td>
                            <td>123</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/layui.all.js"></script>
    <script>
     var element = layui.element;
    </script>
</body>
</html>