<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>添加员工</title>
</head>
<body>
    <div style="width: 100%;margin-top: 80px" align="center">
        <table>
            <tr>
                <th th:text="${comName}"> </th>
            </tr>
            <tr>
                <td style="text-align: left">员工姓名：</td>
                <td><input></td>
            </tr>
            <tr>
                <td style="text-align: left">登录手机号：</td>
                <td><input></td>
            </tr>
            <tr>
                <td style="text-align: left">登录密码：</td>
                <td><input type="password"></td>
            </tr>
            <tr>
                <th><input type="button" onsubmit="" value="提交"></th>
            </tr>
        </table>


    </div>
</body>
</html>