<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>用户列表</title>
    <link rel="stylesheet" type="text/css" href="../easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../easyui/themes/icon.css">
    <script type="text/javascript" src="../static/easyui/jquery.min.js" th:src="@{/easyui/jquery.min.js}"></script>
    <script type="text/javascript" src="../static/easyui/jquery.easyui.min.js"
            th:src="@{/easyui/jquery.easyui.min.js}"></script>
    <script type="text/javascript" src="../static/easyui/locale/easyui-lang-zh_CN.js"
            th:src="@{/easyui/locale/easyui-lang-zh_CN.js}"></script>
    <script type="text/javascript" src="../static/js/date.js"
            th:src="@{/js/date.js}"></script>

    <script type="text/javascript" th:inline="none">
        $(function () {
            $('#dg').datagrid({
                url: '/service/getComPhone1',
                columns: [[
                    {field: 'id', title: 'id', width: $(this).width() * 0.05},
                    {
                        field: 'childName', title: '姓名', formatter: function (value, row, index) {
                            if (row.callPhoneMode) {
                                return row.callPhoneMode.phoneName;
                            }
                        },
                        width: $(this).width() * 0.10
                    },
                    {
                        field: 'childNumber', title: '电话号码', formatter: function (value, row, index) {
                            if (row.callPhoneMode) {
                                return row.callPhoneMode.phoneNumber;
                            }
                        },
                        width: $(this).width() * 0.2
                    },
                    {field: 'remarks', title: '备注'},
                    {
                        field: 'childCarrieroperator', title: '归属地', formatter: function (value, row, index) {
                            if (row.callPhoneMode) {
                                return row.callPhoneMode.carrieroperator;
                            }
                        },
                        width: $(this).width() * 0.1
                    },
                    {
                        field: 'childAttibution', title: '运营商', formatter: function (value, row, index) {
                            if (row.callPhoneMode) {
                                return row.callPhoneMode.attribution;
                            }
                        },
                        width: $(this).width() * 0.1
                    },
                    {
                        field: 'taskId', title: '是否分配', formatter: function (value, row, index) {
                            if (value == 0) {
                                return '否';
                            } else {
                                return '是';
                            }
                        },
                        align: 'center',
                        width: $(this).width() * 0.05
                    },
                    {
                        field: 'callStaffMode', title: '上传人', formatter: function (value, row, index) {
                            if (value) {
                                return value.staffName;
                            }
                        },
                        width: $(this).width() * 0.1
                    },
                    {
                        field: 'upTime', title: '修改时间', width: $(this).width() * 0.1,
                        formatter: function (value, row, index) {
                            var date = new Date();
                            date.setMilliseconds(value);
                            return date.format("yyyy-MM-dd hh:mm:ss");
                        }
                    }
                ]],
                width: $(window).width() - 10,
                // fitColumns: true,
                pagination: true,
                loadMsg: '加载中...',
                pageSize: 20,
                pageList: [20, 50, 100, 200],
                toolbar: [{
                    iconCls: 'icon-excel',
                    text: "上传资源",
                    handler: function () {
                        $("#standardWindow").window('open');
                    }
                }],
            });
            $('#btn').bind('click', function () {
                $('#uploadForm').form('submit', {
                    url: '/uploadExcel/ajaxUpload.do',
                    onSubmit: function () {
                        return checkData();
                    },
                    success: function (_dt) {
                        var obj = eval('(' + _dt + ')');
                        $.messager.alert("提示", "<div style='text-align: center'><p style='color: green;margin-top: 30px;'>成功:" + obj.data.success + "</p>" +
                            "<p style='color: red;margin-top: 30px;'>失败:" + obj.data.failure + "</p></div>")
                        if (obj.code == 200) {
                            $.messager.progress('close');
                            $('#uploadForm').form('clear');
                            $("#standardWindow").window('close');
                            $("#dg").datagrid('reload');
                        }
                    }
                });
            });
        });

        function checkData() {
            var fileDir = $("#upfile").filebox('getValue');
            var suffix = fileDir.substr(fileDir.lastIndexOf("."));
            if ("" == fileDir) {
                $.messager.alert("提示", "请选择需要导入的Excel文件！");
                return false;
            }
            if (".xls" != suffix && ".xlsx" != suffix) {
                $.messager.alert("提示", "文档格式错误，请选择Excel格式的文件导入！");
                return false;
            }
            if(!$("#uploadForm").form('validate')){
                $("#categoryId").focus();
                return false;
            }
            $.messager.progress({
                title: '提示',
                msg: '文件上传中，请稍候……',
                text: ''
            });
            return true;
        }

        function submitForm() {
            var params = {};
            var t = $('form').serializeArray();
            $.each(t, function () {
                params[this.name] = this.value;
            });
            $('#dg').datagrid({
                queryParams: params
            });
        }
    </script>
</head>
<body>
<div class="easyui-panel" data-options="iconCls:'icon-search'" title="检索栏" style="width:100%;padding:30px 60px;">
    <form id="searchForm" method="post">
        <input class="easyui-textbox" name="phoneName" style="width:300px;padding-left: 20px;"
               data-options="label:'姓名:'">
        <input class="easyui-textbox" name="phoneNumber" style="width:300px;padding-left: 20px;"
               data-options="label:'电话:'">
        <input class="easyui-textbox" name="carrieroperator" style="width:300px;padding-left: 20px;"
               data-options="label:'归属地:'">
        <select data-options="label:'是否分配',panelHeight:'auto'" class="easyui-combobox" name="assign"
                style="width:300px;padding-left: 20px;">
            <option value=""></option>
            <option value="1">是</option>
            <option value="0">否</option>
        </select>
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()"
           style="width:80px;padding-left: 30px;text-align:center;padding:5px 0">查询</a>
    </form>
</div>
<table id="dg"></table>
<div class="easyui-window" title="上传资源" id="standardWindow" collapsible="false" minimizable="false" maximizable="false"
     modal="true" closed="true" style="width:390px;height: 300px;">
    <div class="easyui-panel" data-options="fit:true" style="padding:30px 60px;">
        <form class="easyui-form" method="POST" enctype="multipart/form-data" id="uploadForm"
              action="../uploadExcel/upload.do">
            <div style="margin-bottom:20px">
                <select id="categoryId" data-options="panelHeight:'auto',url:'/category/list',method:'post',valueField: 'id',
					textField: 'categoryName',required:true,prompt:'请选择类别'" label="类别:"  labelPosition="top"  class="easyui-combobox"
                        name="categoryId"
                        style="width:255px;">
                </select>
            </div>
            <div style="margin-bottom:20px">
                <input id="upfile" name="upfile" class="easyui-filebox" data-options="prompt:'请选择文件...',required:true,accept: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel'"
                       style="width:255px">
            </div>
            <a style="width:120px" href="http://www.mchomes.cn/zymb.xlsx" download="资源模板.xlsx">点击下载模板</a>
        </form>
        <div>
            <a href="javascript:void(0)" id="btn" class="easyui-linkbutton" style="width:255px">上传</a>
        </div>
    </div>
</div>
</body>
</html>