<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://malsup.github.io/jquery.form.js"></script>
    <script type="text/javascript">
        //ajax 方式上传文件操作
        $(document).ready(function(){
            $('#btn').click(function(){
                if(checkData()){
                    $('#form1').ajaxSubmit({
                        url:'../uploadExcel/ajaxUpload.do',
                        dataType: 'text',
                        success: resutlMsg,
                        beforeSubmit:kaishi,
                        error: errorMsg
                    });
                    function resutlMsg(msg){
                        $("#divC").hide();
                        alert(msg);
                        $("#upfile").val("");
                    }
                    function kaishi() {
                        $("#divC").show();
                    }
                    function errorMsg(){
                        $("#divC").hide();
                        alert("导入excel出错！");
                    }
                }
            });
        });
        //JS校验form表单信息
        function checkData(){
            var fileDir = $("#upfile").val();
            var suffix = fileDir.substr(fileDir.lastIndexOf("."));
            if("" == fileDir){
                alert("选择需要导入的Excel文件！");
                return false;
            }
            if(".xls" != suffix && ".xlsx" != suffix ){
                alert("选择Excel格式的文件导入！");
                return false;
            }
            return true;
        }

    </script>
    <style>
        .divcss5-1{position:absolute;z-index:10;;left:10px;top:10px}
        .divcss5-2{position:absolute;z-index:20;left:0px;top:0px}
    </style>
</head>
<body>
<div class="divcss5-1" style="text-align: center;">
<form method="POST"  enctype="multipart/form-data" id="form1" action="../uploadExcel/upload.do">
    <table style="text-align: left">
        <tr>
            <td>上传文件: </td>
        </tr>
        <tr>
            <td> <input id="upfile" type="file" name="upfile"><br><br></td>
        </tr>
        <tr>
            <td>是否与他人共享该数据：<select name="sharing">
                <option value="0">是</option>
                <option value="1">否</option>
            </select><br><br></td>
        </tr>
        <tr>
            <td><label>共享规则：</label>
            </td>
        </tr>
        <tr>
            <td><label>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                当您上传数据时同意共享，您的数据将被提供他人使用，<br>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                同时您也将获得使用他人数据的资格。假设您上传100条<br>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                数据，有效数据为99条并同意共享，您将获得99条他人<br>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                数据的使用权</label><br><br></td>
        </tr>
        <tr>
            <td>数据模板</td>
        </tr>
        <tr>
            <td><img src="http://www.mchomes.cn:8081/images/moban.png"></td>
        </tr>
        <tr>
            <td><a href="http://www.mchomes.cn/zymb.xlsx" download="资源模板.xlsx">点击下载模板</a></td>
        </tr>
        <tr>
            <td><input type="button" value="提交" id="btn" name="btn" ></td>
        </tr>
    </table>
</form>
</div>
<div id="divC"  class="divcss5-2" style="width: 100vw;height: 100vh; background: #00000044;text-align: center;line-height: 100vh;display: none">

    <img src="http://localhost:8080/images/5-121204193R4.gif">
    上传中，请稍后。。
    </div>
</div>
</body>
</html>